*{
    background-color: #F3EEE7;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3EEE7;

}

.card {
    border: none;
    overflow: hidden
}

.thumbnail_images ul {
    list-style: none;
    justify-content: center;
    /* display: flex; */
    align-items: center;
    margin-top: 10px
}

.thumbnail_images ul li {
    margin: 5px;
    padding: 10px;
    /* border: 2px solid #eee; */
    cursor: pointer;
    transition: all 0.5s
}

/* .thumbnail_images ul li:hover {
    border: 2px solid #000
} */

.main_image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid #eee; */
    height: 400px;
    width: 100%;
    overflow: hidden
}

.heart {
    height: 29px;
    width: 29px;
    background-color: #eaeaea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.content p {
    font-size: 12px
}

.ratings span {
    font-size: 14px;
    margin-left: 12px
}

.colors {
    margin-top: 5px
}

.colors ul {
    list-style: none;
    display: flex;
    padding-left: 0px
}

.colors ul li {
    height: 20px;
    width: 20px;
    display: flex;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer
}

.colors ul li:nth-child(1) {
    background-color: #6c704d
}

.colors ul li:nth-child(2) {
    background-color: #96918b
}

.colors ul li:nth-child(3) {
    background-color: #68778e
}

.colors ul li:nth-child(4) {
    background-color: #263f55
}

.colors ul li:nth-child(5) {
    background-color: black
}

.right-side {
    position: relative
}




.buttons .btn {
    height: 50px;
    width: 150px;
    border-radius: 0px !important
}

.container .product-item {
    min-height: 300px;
    border: none;
    overflow: hidden;
    position: relative;
    border-radius: 0;
}

.container .product-item .product {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.container .product-item .product img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

.container .product-item .product .icons .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease;
    transform: rotate(180deg);
    cursor: pointer;
}

.container .product-item .product .icons .icon:hover {
    background-color: #fff;
    color: #FF0000;
}

.container .product-item .product .icons .icon:nth-last-of-type(3) {
    transition-delay: 0.2s;
}

.container .product-item .product .icons .icon:nth-last-of-type(2) {
    transition-delay: 0.15s;
}

.container .product-item .product .icons .icon:nth-last-of-type(1) {
    transition-delay: 0.1s;
}

.container .product-item:hover .product .icons .icon {
    transform: translateY(-60px);
}

.container .product-item .tag {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 0 0.4rem;
}

.container .product-item .title {
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}

.container .product-item .fa-star {
    font-size: 0.65rem;
    color: #FF0000;
}

.container .product-item .price {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}