{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src={% static 'js/product.js' %} defer></script>

        <title>Zenith Watches | Watches</title>
        <!--Custom CSS-->
        {% block styles %}
             <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
        {% endblock %}
        <!--Fontawesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>

<body style="background-color: #F3EEE7;">
    <!--Navigation Bar-->
    <div class="container mt-5 mb-2">
        <div class="topnav">

            <!-- Centered link -->
            <div class="topnav-centered">
              <a href="#" class="active zen">ZENITH</a>
            </div>
            
            <!-- Left-aligned links (default) -->
            <a href="#" class="navText" style="color: black;">His</a>
            <a href="#" class="navText" style="color: black;">Hers</a>
            
            <!-- Right-aligned links -->
            <div class="topnav-right">
              <a href="#" class="navText" style="color: black;">Our Story</a>
              <a href="#" font-weight: bold;>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  </svg>
              </a>
              <a href="#" style="font-weight: bold;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                  </svg>
              </a>
              <a href="#" font-weight: bold;>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-lock" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                  </svg>
              </a>

            </div>
            
          </div>
    </div>

    <!--Main Body Section-->
    <div class="container mt-5 mb-5">
        <div class="card" style="border: none;">
            <div class="row g-0">
                <div class="col-md-3">
                    <div class="mt-5 pt-5 thumbnail_images">
                        <ul id="thumbnail">
                            <li>
                                <img onclick="changeImage(this)" src="https://i.imgur.com/TAzli1U.jpg" width="70">
                            </li>
                            <li>
                                <img onclick="changeImage(this)" src="https://i.imgur.com/w6kEctd.jpg" width="70">
                            </li>
                            <li><img onclick="changeImage(this)" src="https://i.imgur.com/L7hFD8X.jpg" width="70">
                            </li>
                            <li><img onclick="changeImage(this)" src="https://i.imgur.com/6ZufmNS.jpg" width="70">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 border-end">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="main_image" >
                            <img src="https://i.imgur.com/TAzli1U.jpg" id="main_product_image" width="350">
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-3" style="background-color: #fff; padding:1em; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                    <div class="p-3 right-side" style="background-color: #fff;">
                        <div class="d-flex justify-content-between align-items-center" style="background-color: #fff;">
                            <h3 style="background-color: #fff;">Zenith</h3> 
                            <span class="heart"><i class='fas fa-heart' style="color:#FF0000;"></i></span>
                        </div>
                        <div class="mt-2 pr-3 content" style="background-color: #fff;">
                            <p style="background-color: #fff;">Special Zenith Empire Collection</p>
                        </div>
                        <h3 style="background-color: #fff;">$40.99</h3>
                        <div class="ratings d-flex flex-row align-items-center" style="background-color: #fff;">
                            <div class="d-flex flex-row" style="background-color: #fff;"> 
                                <i class="fas fa-star" style="color:#FF0000; background-color: #fff;"></i> 
                                <i class="fas fa-star" style="color:#FF0000; background-color: #fff;"></i> 
                                <i class="fas fa-star" style="color:#FF0000; background-color: #fff;"></i> 
                                <i class="fas fa-star" style="color:#FF0000; background-color: #fff;"></i> 
                                <i class="far fa-star" style="color:#FF0000; background-color: #fff;"></i> 
                            </div> 
                            <span style="background-color: #fff;">441 reviews</span>
                        </div>
                        <div class="mt-5" style="background-color: #fff;"> 
                            <span class="fw-bold" style="background-color: #fff;">Color</span>
                            <div class="colors" style="background-color: #fff;">
                                <ul id="marker" style="background-color: #fff;">
                                    <li id="marker-1"></li>
                                    <li id="marker-2"></li>
                                    <li id="marker-3"></li>
                                    <li id="marker-4"></li>
                                    <li id="marker-5"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="buttons d-flex flex-row mt-5 gap-3"> <button class="btn btn-outline-dark">Buy
                                Now</button> <button class="btn btn-dark">Add to Basket</button> </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Specs-->
    <div class="container mt-5 mb-5 pt-5">
        <div class="card" style="border: none;">
            <div class="row g-0">
                <div class="col-md-6 pt-3">
                    <img src="https://i.imgur.com/w6kEctd.jpg" width="400">
                </div>
                <div class="col-md-6 pt-3">
                    <h1>Specifications</h1>
                        <ul style="list-style: none;">
                            <li class="pt-2"> <span style="font-weight: bold;">Brand</span> Zen</li>
                            <li class="pt-2"> <span style="font-weight: bold;">Brand</span> Zen</li>
                            <li class="pt-2"> <span style="font-weight: bold;">Brand</span> Zen</li>
                            <li class="pt-2"> <span style="font-weight: bold;">Brand</span> Zen</li>
                            <li class="pt-2"> <span style="font-weight: bold;">Brand</span> Zen</li>
                            <li class="pt-2"> <span style="font-weight: bold;">Brand</span> Zen</li>
                        </ul>
            </div>
        </div>
    </div>
    </div>

    <!--Product Dets-->
    <div class="container mt-5 mb-5 pt-5">
        <div class="card" style="border: none; background-color: #F3EEE7;">
            <h1 class="text-center"> Product Name</h1>
            <h6 class="text-center" style="background-color: #F3EEE7;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h6>
            <div class="row g-0">
                <div class="col-md-6 pt-3">
                    <img src="https://i.imgur.com/TAzli1U.jpg" width="400">

                </div>
                <div class="col-md-6 pt-3">
                    <img src="https://i.imgur.com/6ZufmNS.jpg" width="400">

                </div>
            </div>
        </div>
    </div>
<!--More Details--> 
<div class="container mt-5 mb-5 pt-5">
    <div class="card" style="border: none;">
        <div class="row g-0">
        <div class="col-md-3 pt-3"> <!--Dummy--> </div>

        <div class="col-md-6 pt-3">
            <img src="https://i.imgur.com/w6kEctd.jpg" width="500">
        </div>

        <div class="col-md-3 pt-3"> <!--Dummy--> </div>

    </div>
</div>

</div>
<!--More from the Seller-->

<div class="container mt-5 mb-5 pt-5">
    <div class="card" style="border: none; background-color: #F3EEE7;">
        <h3 class="text-center"> More from this collection</h3>

        <div class="row">
            <div
            class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
            <div class="product">
              <div class="tag bg-red">sale</div>
  
                <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1661760708/Zenith/img2_dmhdhu.png"
                    alt="">
                <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                    <!-- <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li> -->
                    <li class="icon mx-3"><span class="far fa-heart" style="background-color: #fff;"></span></li>
                    <li class="icon"><span class="fas fa-shopping-bag" style="background-color: #fff;"></span></li>
                </ul>
            </div>
            <div class="title pt-4 pb-1">Zenith Edition Watches</div>
            <div class="d-flex align-content-center justify-content-center">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
            </div>
            <div class="price">$ 60.0</div>
        </div>
        <!--Prod 2-->

        <div
        class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
        <div class="product">
          <div class="tag bg-red">sale</div>

            <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1661760708/Zenith/img2_dmhdhu.png"
                alt="">
            <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                <!-- <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li> -->
                <li class="icon mx-3"><span class="far fa-heart" style="background-color: #fff;"></span></li>
                <li class="icon"><span class="fas fa-shopping-bag" style="background-color: #fff;"></span></li>
            </ul>
        </div>
        <div class="title pt-4 pb-1">Zenith Edition Watches</div>
        <div class="d-flex align-content-center justify-content-center">
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
        </div>
        <div class="price">$ 60.0</div>
    </div>
    <!--Prod 3-->
    <div
    class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
    <div class="product">
      <div class="tag bg-red">sale</div>

        <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1661760708/Zenith/img2_dmhdhu.png"
            alt="">
        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
            <!-- <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li> -->
            <li class="icon mx-3"><span class="far fa-heart" style="background-color: #fff;"></span></li>
            <li class="icon"><span class="fas fa-shopping-bag" style="background-color: #fff;"></span></li>
        </ul>
    </div>
    <div class="title pt-4 pb-1">Zenith Edition Watches</div>
    <div class="d-flex align-content-center justify-content-center">
        <span class="fas fa-star"></span>
        <span class="fas fa-star"></span>
        <span class="fas fa-star"></span>
        <span class="fas fa-star"></span>
        <span class="fas fa-star"></span>
    </div>
    <div class="price">$ 60.0</div>
</div>
<!--Prod 4-->
<div
class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
<div class="product">
  <div class="tag bg-red">sale</div>

    <img src="https://res.cloudinary.com/dyiuol5sx/image/upload/v1661760708/Zenith/img2_dmhdhu.png"
        alt="">
    <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
        <!-- <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li> -->
        <li class="icon mx-3"><span class="far fa-heart" style="background-color: #fff;"></span></li>
        <li class="icon"><span class="fas fa-shopping-bag" style="background-color: #fff;"></span></li>
    </ul>
</div>
<div class="title pt-4 pb-1">Zenith Edition Watches</div>
<div class="d-flex align-content-center justify-content-center">
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
</div>
<div class="price">$ 60.0</div>
</div>

    </div>
</div>
</div>
        
</body>

</html>